/*@media screen and (min-width:320px){} // mobile portrait*/
/*@media screen and (min-width:480px){} // mobile landscape*/
/*@media screen and (min-width:768px){} // ipad portrait*/
/*@media screen and (min-width:1024px){} // browser, ipad landscape*/
/*@media screen and (min-width:1200px){} // browser*/
/*@media screen and (min-width:1600px){} // browser*/
/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  /* links*/
  list-style: none;
  /* lists*/ }

/* ---------- LINKS ---------- */
a:link {
  color: #ffffff; }

a:visited {
  color: #ffffff; }

a:hover {
  color: #ffffff;
  /*change*/ }

a:active {
  color: #ffffff; }

/* ---------- NAV ---------- */
nav {
  text-align: center;
  background-color: #333333;
  min-height: 200px; }
  nav p {
    padding-top: 150px; }
    @media (min-width: 768px) {
      nav p {
        padding-top: 70px;
        display: inline-block;
        position: absolute;
        right: 65%; } }
    nav p a {
      font-size: 1.5em;
      font-weight: 500; }
      @media (min-width: 768px) {
        nav p a {
          font-size: 2em; } }
  nav ul {
    display: inline-block;
    padding-top: 45px; }
    @media (min-width: 768px) {
      nav ul {
        padding-top: 80px;
        /*guessed*/
        position: absolute;
        left: 63%;
        /*guessed*/ } }
  nav li {
    display: inline-block;
    padding: 15px; }
    @media (min-width: 768px) {
      nav li {
        padding-top: 0;
        padding-bottom: 0; } }
    nav li a {
      font-size: 1.2em;
      font-weight: 500; }

/* end nav */
/* ---------- PAGES GENERAL ---------- */
#logo-img {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -50px;
  /* half the width to fix offset */ }
  @media (min-width: 768px) {
    #logo-img {
      display: none; } }

#logo-text {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -80px;
  /* half the width to fix offset */ }
  @media (min-width: 768px) {
    #logo-text {
      display: block; } }

/* ---------- HOME ---------- */
#img-home {
  background-image: url("../images/small_newLogo.jpg");
  background-size: cover;
  background-position: top;
  height: 600px; }
  @media (min-width: 480px) {
    #img-home {
      background-image: url("../images/large_newLogo.jpg");
      background-position: right; } }
  @media (min-width: 1024px) {
    #img-home {
      background-position: top; } }

/* ---------- MENU ---------- */
#menu-main {
  background-color: #663333;
  color: #ffffff;
  text-align: left;
  cursor: default; }

#menu-text {
  text-align: center; }
  #menu-text h2 {
    font-weight: 400;
    padding: 25px 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    cursor: pointer; }
    @media (min-width: 480px) {
      #menu-text h2 {
        padding: 30px 0; } }
    @media (min-width: 710px) {
      #menu-text h2 {
        padding: 20px 0 0;
        cursor: default; } }
  #menu-text h2:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  #menu-text h3 {
    font-weight: 500;
    padding-bottom: 10px;
    color: #ff5959; }
  #menu-text h4 {
    font-weight: 500; }
  #menu-text h5 {
    font-weight: 500;
    max-width: 300px; }

/* end #menu-text */
h2:nth-of-type(1) {
  /* #twoFor20 */
  background-image: url("../images/twoFor20.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(1) {
      background-image: none; } }

h2:nth-of-type(2) {
  /* #bevs */
  background-image: url("../images/drinks.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(2) {
      background-image: none; } }

h2:nth-of-type(3) {
  /* #appsBar */
  background-image: url("../images/apps.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(3) {
      background-image: none; } }

h2:nth-of-type(4) {
  /* #salads */
  background-image: url("../images/salads.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(4) {
      background-image: none; } }

h2:nth-of-type(5) {
  /* #lunch */
  background-image: url("../images/lunch.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(5) {
      background-image: none; } }

h2:nth-of-type(6) {
  /* #woodFired */
  background-image: url("../images/woodFire.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(6) {
      background-image: none; } }

h2:nth-of-type(7) {
  /* #chicken */
  background-image: url("../images/chicken.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(7) {
      background-image: none; } }

h2:nth-of-type(8) {
  /* #burgers */
  background-image: url("../images/burgers.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(8) {
      background-image: none; } }

h2:nth-of-type(9) {
  /* #handhelds */
  background-image: url("../images/handhelds.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(9) {
      background-image: none; } }

h2:nth-of-type(10) {
  /* #pasta */
  background-image: url("../images/pasta.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(10) {
      background-image: none; } }

h2:nth-of-type(11) {
  /* #lighterFare */
  background-image: url("../images/light.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(11) {
      background-image: none; } }

h2:nth-of-type(12) {
  /* #extras */
  background-image: url("../images/extras.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(12) {
      background-image: none; } }

h2:nth-of-type(13) {
  /* #kids */
  background-image: url("../images/kids.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(13) {
      background-image: none; } }

h2:nth-of-type(14) {
  /* #desserts */
  background-image: url("../images/desserts.jpg"); }
  @media (min-width: 710px) {
    h2:nth-of-type(14) {
      background-image: none; } }

.active {
  /* jquery added class */
  -webkit-filter: grayscale(0%) !important;
  filter: grayscale(0%) !important; }

.menuSect {
  display: none;
  /* jquery added toggle */
  padding-top: 20px; }
  @media (min-width: 710px) {
    .menuSect {
      display: block; } }

.col1,
.col2 {
  display: inline-block;
  width: 300px;
  vertical-align: top; }
  @media (min-width: 480px) {
    .col1,
    .col2 {
      width: 350px; } }

#twoFor20 h5 {
  padding-bottom: 20px; }

#lunchHead {
  display: block; }

.end {
  /* end of listing */
  padding-bottom: 20px; }

hr {
  display: none; }
  @media (min-width: 710px) {
    hr {
      display: inline-block; } }

/* ---------- FOOTER ---------- */
#footer-extras {
  background-color: #333333;
  min-height: 180px;
  color: #ffffff;
  text-align: center; }
  #footer-extras section {
    padding: 10px 15px;
    vertical-align: top;
    border-bottom: 2px solid rgba(204, 51, 51, 0.7); }
    @media (min-width: 370px) {
      #footer-extras section {
        display: inline-block;
        border-bottom: none; } }
    #footer-extras section ul {
      display: none;
      /* jquery added toggle */
      padding-top: 15px; }
      @media (min-width: 370px) {
        #footer-extras section ul {
          padding-top: 10px;
          display: block; } }
  #footer-extras h3 {
    font-size: 1em;
    font-weight: 500;
    cursor: pointer; }
    @media (min-width: 370px) {
      #footer-extras h3 {
        text-align: right;
        cursor: default; } }
  #footer-extras li {
    font-size: .8em;
    font-weight: 400; }
    @media (min-width: 370px) {
      #footer-extras li {
        text-align: right; } }

/* end #footer-extras */
#secGroup1, #secGroup2 {
  display: inline; }
  @media (min-width: 370px) {
    #secGroup1, #secGroup2 {
      display: inline-block; } }

#secGroup2 {
  padding-bottom: 30px; }

.line {
  display: none; }
  @media (min-width: 370px) {
    .line {
      display: block;
      width: 150px;
      border-bottom: 4px solid #cc3333; } }

#social ul {
  padding: 10px 0; }
  @media (min-width: 370px) {
    #social ul {
      padding-bottom: 10px; } }
#social li {
  display: inline-block; }
#social img {
  width: 35px; }
  @media (min-width: 370px) {
    #social img {
      width: 50px; } }

footer {
  background-color: #663333;
  min-height: 50px;
  color: #ffffff; }
  footer ul {
    padding-top: 20px;
    text-align: center; }
    footer ul p {
      display: inline-block;
      color: #cc3333; }
  footer li {
    display: inline-block;
    padding: 0 10px; }
  footer a {
    font-size: .8em; }

#copy {
  font-size: .8em;
  padding: 10px 0 30px 0;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
