/* ---------- GENERAL ---------- */
* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none; }

/* ---------- LINKS ---------- */
a:link {
  color: #ffffff; }

a:visited {
  color: #ffffff; }

a:hover {
  color: #ffffff; }

a:active {
  color: #ffffff; }

/* ---------- NAV ---------- */
nav {
  text-align: center;
  background-color: #333333;
  min-height: 200px; }
  nav p {
    padding-top: 150px; }
    @media (min-width: 768px) {
      nav p {
        padding-top: 70px;
        display: inline-block;
        position: absolute;
        right: 65%; } }
    nav p a {
      font-size: 1.5em;
      font-weight: 500; }
      @media (min-width: 768px) {
        nav p a {
          font-size: 2em; } }
  nav ul {
    display: inline-block;
    padding-top: 45px; }
    @media (min-width: 768px) {
      nav ul {
        padding-top: 80px;
        position: absolute;
        left: 63%; } }
  nav li {
    display: inline-block;
    padding: 15px; }
    @media (min-width: 768px) {
      nav li {
        padding-top: 0px;
        padding-bottom: 0px; } }
    nav li a {
      font-size: 1.2em;
      font-weight: 500; }

/* end nav */
/* ---------- PAGES GENERAL ---------- */
#logo-img {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -50px; }
  @media (min-width: 768px) {
    #logo-img {
      display: none; } }

#logo-text {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -80px; }
  @media (min-width: 768px) {
    #logo-text {
      display: block; } }

/* ---------- HOME ---------- */
#img-home {
  background-image: url("../images/small_newLogo.jpg");
  background-size: cover;
  background-position: top;
  height: 600px; }
  @media (min-width: 480px) {
    #img-home {
      background-image: url("../images/large_newLogo.jpg");
      background-position: right; } }
  @media (min-width: 1024px) {
    #img-home {
      background-position: top; } }

/* ---------- MENU ---------- */
#menu-main {
  background-color: #663333;
  color: #ffffff;
  text-align: left; }

#menu-text {
  padding: 0px 10px;
  display: inline-block;
  text-align: left; }
  #menu-text h2 {
    font-weight: 400;
    padding: 15px 0px 20px 0px;
    cursor: pointer; }
  #menu-text h3 {
    font-weight: 500;
    padding: 0px 0px 10px 0px; }
  #menu-text h4 {
    font-weight: 500;
    padding-left: 50px;
    max-width: 450px; }
  #menu-text h5 {
    font-weight: 500;
    margin: 0px 0px 20px 0px;
    padding-left: 100px;
    max-width: 300px; }

.menuSect {
  display: none; }

.noDesc {
  margin-bottom: 20px; }

/* ---------- GIFT CARDS ---------- */
/* ---------- FOOTER ---------- */
#footer-extras {
  background-color: #333333;
  min-height: 180px;
  color: #ffffff;
  text-align: center; }
  #footer-extras section {
    padding: 10px 20px;
    display: inline-block;
    vertical-align: top; }
  #footer-extras h3 {
    font-size: 1em;
    font-weight: 500;
    text-align: right; }
  #footer-extras ul {
    padding-top: 10px; }
  #footer-extras li {
    font-size: .8em;
    font-weight: 400;
    text-align: right; }

#secGroup1, #secGroup2 {
  display: inline-block; }

.line {
  width: 150px;
  border-bottom: 4px solid #cc3333; }

footer {
  background-color: #663333;
  min-height: 50px;
  color: #ffffff; }
  footer ul {
    padding-top: 20px;
    text-align: center; }
    footer ul p {
      display: inline-block;
      color: #cc3333; }
  footer li {
    display: inline-block;
    padding: 0px 10px; }
  footer a {
    font-size: .8em; }

#copy {
  font-size: .8em;
  padding: 10px 0px 30px 0px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
